@font-face {
  font-family: "kumar-one";
  src: url("../fonts/KumarOne.ttf");
}
@font-face {
  font-family: "roboto-condensed";
  src: url("../fonts/RobotoCondensed-VariableFont_wght.ttf");
}

$colour1: #f8f9fa;
$colour2: #212529;
$colour3: #0a58ca;

$font1: "kumar-one";
$font2: "roboto-condensed";

$padding1: 7px 1%;
