@font-face {
  font-family: "kumar-one";
  src: url("../fonts/KumarOne.ttf");
}
@font-face {
  font-family: "roboto-condensed";
  src: url("../fonts/RobotoCondensed.ttf");
}

$font1: "kumar-one";

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font1;
}
