@import "../../display/styles/variables";

.header {
  border-bottom: 2px solid $colour3;
  display: flex;
  justify-content: space-between;
  max-height: 60px;
  min-height: 60px;
  padding: $padding1;
  .header-title-container {
    .header-title-link {
      display: flex;
      .header-title-icon {
      }
      .header-title {
        font-size: 35px;
        margin-top: -6px;
      }
    }
  }
  .header-buttons-container {
    display: flex;
    .header-darkmode-toggle-container {
    }
    .header-user-button-container {
    }
    .header-button {
      cursor: pointer;
      font-size: 35px;
      margin-left: 6px;
    }
  }
}
.header-dark-mode {
  background-color: $colour2;
  .header-title-container {
    .header-title-link {
      .header-title-icon {
        color: $colour3;
      }
      .header-title {
        color: $colour3;
      }
    }
  }
  .header-buttons-container {
    .header-title-container {
      .header-title-link {
        display: flex;
        .header-title-icon {
          color: $colour1;
        }
        .header-title {
          color: $colour1;
        }
      }
    }
    .header-darkmode-toggle-container {
    }
    .header-button {
      color: $colour3;
    }
  }
}

.header-light-mode {
  background-color: $colour3;
  .header-title-container {
    .header-title-link {
      display: flex;
      .header-title-icon {
        color: $colour1;
      }
      .header-title {
        color: $colour1;
      }
    }
  }
  .header-buttons-container {
    display: flex;
    .header-darkmode-toggle-container {
    }
    .header-button {
      color: $colour1;
    }
  }
}
